form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(240, 239, 239);
    max-height: 420px;
    width: 350px;
    padding: 20px 30px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    justify-content: center;

}

label {
    font-size: large;
    font-weight: bold;
}

button {
    padding: 10px;
    border: 8px;
    background-color: #3498db;
    max-width: 100px;
    margin: 0 auto;
    transition: all 0.2s ease-in;

}

button:hover {
    background-color: #2980b9;

}